* {
	font-family: "Helvetica Neue Bold", Roboto, Helvetica, Arial, sans-serif;

}

.errors {
    color: red;
}

.flash {
	background-color: #98FB98;
	width:100%;
	text-decoration: none;

}

.flash li {
	list-style-type: none;
	text-align: center;

}

.error-flash {
	background-color: #FB9898;
	width:100%;
	text-decoration: none;

}

.error-flash li {
	list-style-type: none;
	text-align: center;

}