* {
	font-family: "Helvetica Neue Bold", Roboto, Helvetica, Arial, sans-serif;

}

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}

.errors {
    color: red;
}

.flash {
	background-color: #98FB98;
	width:100%;
	text-decoration: none;

}

.flash li {
	list-style-type: none;
	text-align: center;

}

.error-flash {
	background-color: #FB9898;
	width:100%;
	text-decoration: none;

}

.error-flash li {
	list-style-type: none;
	text-align: center;

}

.user-name {
    font-style: italic;
}


.navbar-link#right {
    padding: 15px 15px;
}

.navbar-right#right {
    padding: 15px 15px;
}
