{% extends "_main.html" %}
{% block content %}
{% include "_header.html" %}
{% from "_formhelpers.html" import render_field %}


<div class="form-group" xmlns="http://www.w3.org/1999/html">
    <form action="{{ url_for('edit_mask', mask_id=mask.id)}}" method=post>
    {{ form.hidden_tag() }}
        <div class="row">
            <div class="subtitle"><h3>Edit Mask</h3></div>
            <br>
            <div class="col-md-6 padding-top">
                <dl>
                    {{ render_field(form.mask_name) }}
                    {{ render_field(form.form_factor) }}
                </dl>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 padding-top">
                <input type=submit value=Save>
            </div>
        </div>
    </form>
</div>

{% endblock %}